body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: white;
    margin: 0;
}

h1.logo {
    display: inline-block;
}

.row-header {
    display: inline-block;
    float: right;
}

h2 {
    align-content: center;
    font-size: 40px;
    color: rgb(247, 187, 83);
    font-family: 'Times New Roman', Times, serif;
    font-stretch: extra-expanded;
    padding: 0 11px;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
    text-decoration: underline;
    
}

a:hover {
    color: lightseagreen;
  }

img {
    aspect-ratio: 16 / 9;
}

img:hover {
    border: 2px solid lightgray;
    box-sizing: border-box;
}

.row {
    display: inline-block;
    display: flex;
    justify-content: stretch;
}

img.header-img {
    width: 40px;
    height: 40px;
    right: 0;
    top: 20;
}

div.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: palevioletred;
}

div.gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.exhibitions {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.exhibitions img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: justify;
    min-height: 75px;
    margin-bottom: 40px;
}

div.bottom-desc {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.info {
    text-align: right;
    color: gray;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: calc(100% / 3);
    box-sizing: border-box;
}


header {
    width: 100%;
    position: relative;
}

.header-container-wrapper {
	background-color: palevioletred;
    padding: 11px;
    box-sizing: border-box;
} 

.header-right {
    text-align: right;
}

footer {
    background-color: palevioletred;
    border-top: solid 2px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}

div.footer-center {
    color: white;
    text-align: center;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    float: left;
}

div.footer-left {
    color: white;
    text-align: right;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    float: right;
    padding: 1em;
}

div.footer-right {
    color: white;
    text-align: right;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    float: left;
    padding: 1em;
}

table.legal {
    color: white;
}

li.nav-links a:hover {
    text-decoration: underline;
}

.buttons {
    text-align: center;
    font: gray;
}

.row-footer {
    width: 100%;
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    div.responsive {
        width: 100%; 
    }
}
